{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'side/views.css' %}">

    <title>Insertion</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="{% url 'showdbs' %}"><img class="logo" src="{% static 'images/microbots.png' %}"></a>
        
        
            <span class="greetings"><a href="{% url 'logout' %}"><button class="w-100 btn btn-outline-dark">
                        <h5>Log Out</h5>
                    </button></a></span>
            <span class="greetings">
                <h5 class="username">Hi <b><span style="color: dodgerblue;">{{current_user}}</span></b>!</h5>
            </span>
        </header>

        <hr>
        <div>
            <a href="{% url 'showcollections' db=db %}"><button
                    class="backButton btn btn-warning btn-large pull-left"> <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/></svg> {{db}}</button></a>
        
                    
                </div>

        <hr>
    
     
        <form enctype="multipart/form-data" method="post" action="">

            {% csrf_token %}

            <h2>ADD_COLLECTION</h2>
            <hr>


            <div class="form-group">
                COLLECTION_NAME : {{ form.collectionName }}
            </div>

            <div class="form-group">
                {{ form.myfile }}
            </div>

            <hr>
            {% if e is not None %}
            <div style="color:black;">
                <i> <b> {{e}} </b> </i>
            </div>
            {% endif %}
            <hr>

            <div class="form-group">
                <b><h4>{{ form.dictionary }}</h4></b>
            </div>



            <div class="form-group">
                <input type="submit" name="action" value="Validate" class="btn btn-danger btn-large pull-right">
                <input type="submit" name="action" value="Insert" class="btn btn-primary btn-large pull-right">
            </div>
            <hr>


        </form>

    
    </div>

</body>

</html>