{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link href="{% static 'css/bootstrap.min.css' %}  " rel="stylesheet">
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
 
    <link rel="stylesheet" type="text/css" href="{% static 'side/views.css' %}">
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'main/admin/adminpage.css' %}">

 

    <title>Mongo | Users </title>

</head>




<body>
    <div>

        <header>
            <a href="{% url 'showdbs' %}"><img class="logo" src="{% static 'images/microbots.png' %}"></a>
            
        
            <span class="greetings"><a href="{% url 'logout' %}">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </span>
            <span class="greetings" style="margin-right:20px;">
                Hi <b><span style="color: dodgerblue;">{{current_user}}</span></b>!
            </span>
            
            <span class="greetings" style="margin-right:20px;">
                <a href="{% url 'showdbs' %}"><button class="btn btn-success btn-large pull-left">
                    Home</button></a>        
            </span>
        </header>

        <hr>

        <a href="{% url 'userspage' %}"><button class="backButton btn btn-warning btn-large pull-left">
            <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/></svg>
            </button></a>

           
    
        
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            
            <h2>USER_EDIT - {{username}}</h2>
            <hr>
            <div>

                

                <div id="checkboxes" >
                    
                    <table class="center">

                        <tr>
                            <th>
                                <h2><b>Permissions</b></h2>
                            </th>
                        </tr>
                        <div class="col-lg-6">
                            <div class="ibox ">
                               
                                <div class="ibox-content">
                
                                    <table class="table table-hover">
                                        <thead>
                                          <tr>
                                        <th>Databases</th>
                                        <th>read</th>
                                        <th>readWrite  </th>
                                        <th>dbAdmin</th>
                                    </tr>
                                        </thead>
                                        <tbody>
                                        {% for db,value in selected.items %}
                                        <tr>
                                        <td>
                                            {{db}}
                                        </td>
                                        
                                        <td>
                                            {% if "read" in value %}
                                                <input type="checkbox" name="read-{{db}}" class="point" checked>
                                            {% else %}
                                                <input type="checkbox"  name="read-{{db}}" class="point">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if "readWrite" in value %}
                                                <input type="checkbox" name="readWrite-{{db}}" class="point" checked>
                                            {% else %}
                                                <input type="checkbox" name="readWrite-{{db}}" class="point">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if "dbAdmin" in value %}
                                                <input type="checkbox"  name="dbAdmin-{{db}}" class="point" checked>
                                            {% else %}
                                                <input type="checkbox"  name="dbAdmin-{{db}}" class="point">
                                            {% endif %}
                                        </td>
                                        
                                        

                                        
                                    </tr>
                                    
                                    {% endfor %}  
                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                            <span class="form-group">
                                <input type="submit" name="action" value="UpdateUser" class="btn btn-primary btn-large pull-right form-control">
                            </span>  
                            <hr>
                        </div>
                        
                        
                    </table>
                    
                </div>
                
                   
                
                </div>    
         
            
        </form>
        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script>
        function clickFn(event) {
            const checkbox = event.currentTarget;
            checkbox.value = checkbox.checked ? 'dark' : 'light';
            event.currentTarget.closest('form').submit()
          }
    </script>

    
<script src="{% static 'js/jquery-3.1.1.min.js' %} "></script>
<script src="{% static 'js/popper.min.js' %} "></script>
<script src="{% static 'js/bootstrap.js' %} "></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %} "></script>

<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %} "></script>



<!-- Peity -->
<script src="{% static 'js/plugins/peity/jquery.peity.min.js' %} "></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %} "></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %} "></script>

<!-- iCheck -->

<script src="{% static 'js/plugins/iCheck/icheck.min.js' %} "></script>
<!-- Peity -->
<script src="{% static 'js/demo/peity-demo.js' %} "></script>



<script>
    $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
          // the name of the box is retrieved using the .attr() method
          // as it is assumed and expected to be immutable
          var group = "input:checkbox[id='" + $box.attr("id") + "']";
          // the checked state of the group/box on the other hand will change
          // and the current value is retrieved using .prop() method
          $(group).prop("checked", false);
          $box.prop("checked", true);
        } else {
          $box.prop("checked", false);
        }
      });
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

</body>


<footer class="text-center text-lg-start bg-light text-muted">
  
    <small>Microbots UI </small>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      &copy;  2022 Copyright:
      <a class="text-reset fw-bold" href="https://www.microland.com/">Microland</a>
    </div>
    <!-- Copyright -->
  </footer>

</html>