html,
body {
    height: 100%;
    margin: 0;
    padding: 15px;
}

.logo {
    width: 210px;
    margin-bottom: 20px;
}

.greetings {
    float: right;
    margin: auto;
}

.greetings a {
    color: black;
}

#editor {
    cursor: default;
}

a {
    text-decoration: none;
}

textarea {
    color: white;
    background-color: #04071c;
    caret-color: orangered;
    overflow: auto;
    border: solid 15px grey;
}

#checkboxes ul {
    margin: 0;
    list-style: none;
}

.point {
    cursor: pointer;
}