div {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;
}

.headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    white-space: nowrap;
}

td {
    white-space: nowrap;
    background-color: white;
}